*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/misc.idea/misc.xml
/.idea/modules.xml
/app/build.gradle
gradle.properties
.idea/vcs.xml
/.gitignore
.idea/runConfigurations.xml
.idea/inspectionProfiles/
android-framework-sdk-api/build/generated/assets/
android-framework-sdk-api/build/generated/res/
android-framework-sdk-api/build/generated/source/aidl/
android-framework-sdk-api/build/generated/source/apt/
android-framework-sdk-api/build/generated/source/buildConfig/androidTest/
android-framework-sdk-api/build/generated/source/r/androidTest/
android-framework-sdk-api/build/generated/source/rs/
android-framework-sdk-api/build/intermediates/annotations/
android-framework-sdk-api/build/intermediates/blame/res/androidTest/
android-framework-sdk-api/build/intermediates/bundles/debug/aidl/
android-framework-sdk-api/build/intermediates/bundles/debug/assets/
android-framework-sdk-api/build/intermediates/bundles/debug/jni/
android-framework-sdk-api/build/intermediates/bundles/debug/libs/
android-framework-sdk-api/build/intermediates/bundles/default/aidl/
android-framework-sdk-api/build/intermediates/bundles/default/assets/
android-framework-sdk-api/build/intermediates/bundles/default/jni/
android-framework-sdk-api/build/intermediates/bundles/default/libs/
android-framework-sdk-api/build/intermediates/incremental/compileDebugAndroidTestAidl/
android-framework-sdk-api/build/intermediates/incremental/mergeDebugAndroidTestResources/
android-framework-sdk-api/build/intermediates/incremental/packageDebugAndroidTest/
android-framework-sdk-api/build/intermediates/incremental/processDebugAndroidTestResources/
android-framework-sdk-api/build/intermediates/incremental/processDebugResources/
android-framework-sdk-api/build/intermediates/incremental/processReleaseResources/
android-framework-sdk-api/build/intermediates/jniLibs/
android-framework-sdk-api/build/intermediates/lint/
android-framework-sdk-api/build/intermediates/manifest/
android-framework-sdk-api/build/intermediates/res/merged/androidTest/
android-framework-sdk-api/build/intermediates/res/resources-debug-androidTest.ap_
android-framework-sdk-api/build/intermediates/rs/
android-framework-sdk-api/build/intermediates/shaders/
android-framework-sdk-api/build/intermediates/symbols/
android-framework-sdk-api/build/intermediates/transforms/
android-framework-sdk-api/build/tmp/
