*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/misc.idea/misc.xml
/.idea/modules.xml
/app/build.gradle
gradle.properties
.idea/vcs.xml
/.gitignore